{% extends 'base.html.twig' %}
{% block title %}
    About
{% endblock %}
{% block body %}
    <div class="container">
        <h1>About</h1>
        <p>This is the fashion app that illustrates  the e-commerce app.</p>
    </div>
    
{% endblock %}