
<form action="{{ path('app_panel_add') }}" method="POST">
    <input type="hidden" id="productId" name="productId" value={{product.id}}>
    {# <div class="form-group form-group-sm d-flex justify-content-center"> #}
        {# <input class="form-control form-control-sm" style="width: 50px;height: 35px;" type="number" name="quatity" id="quatity" min=1 max=100 value=1> #}
        <button type="submit" class="btn btn-sm btn-outline-primary mx-1">Add to panel</button>
    {# </div> #}
</form>

