<nav class="navbar navbar-expand-lg border-bottom bg-body-tertiary fixed-top mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fashion</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/users">Users</a>
          </li>    
          <li class="nav-item">
            <a class="nav-link" href="/admin/orders">Oders</a>
          </li> 
        {% endif %}
          {% if app.user %}
            <li class="nav-item">
              <a class="nav-link" href="/panel">Panel <span class="badge badge-sm text-bg-primary" id="panel-total"></span> </a>
            </li> 
          {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <span class="navbar-text">
        {% if app.user %}
          {% if is_granted('ROLE_ADMIN') %}
            Admin | 
          {% endif %}
          {{ app.user.userIdentifier }}
        {% endif %}
        {% if app.user %}
            <a href="/logout" class="btn">Logout</a>
        {% else %}
            <a href="/login" class="btn">Login</a>
        {% endif %}
      </span>
    </div>
  </div>
</nav>