{% extends 'base.html.twig' %}

{% block title %}Edit Order{% endblock %}

{% block body %}
<div class="container">
    {{ include('order/_delete_form.html.twig') }}
    
    <h1>Edit Order</h1>

    {{ include('order/_form.html.twig', {'button_label': 'Update'}) }}

</div>
{% endblock %}
